/ambiente virtual com venv.txt
/aulas
/comandos python para verificar versão cmd.txt
/curso
/exemplo.kv
/extensoes visual studio.txt
/instalação do kivy.txt
/kivy
/Kivy-Kazam-master
/kivy-pt_br-excript.pdf
/para ativar o ambiente pelo visualstudio.txt
/pong
/py39
/rifas
/sorteio
/testes